node_modules
.vscode
src/
config/
examples
ngauth_server
python
templates
testdata
third_party
typings
.editorconfig
.eslintignore
.eslintrc
.style.yapf
.clang-format
CONTRIBUTING.md 
cors_webserver.py 
gulpfile.js
MANIFEST.in 
package-lock.json
pyproject.toml
setup.py
tox.ini
tsconfig.json
tslint.json
tsconfig.tsbuildinfo
.gitignore
.github
dist/tsconfig.tsbuildinfo